In [5]:
import pandas as pd

In [17]:
acc=pd.read_csv("accounts.csv")

In [7]:
acc.head(5)

   id_bank_account             max_date  balance
0             1777  2023-10-11 22:00:00   -15.24
1             1778  2024-03-03 23:00:00  -443.17
2             1780  2024-03-03 23:00:00  2925.13
3             1781  2023-07-16 22:00:00    53.28
4             1785  2024-02-20 23:00:00   118.67

In [8]:
import matplotlib.pyplot as plt

In [9]:
acc.dtypes

id_bank_account      int64
max_date            object
balance            float64
dtype: object

In [12]:
acc.shape

(31436, 3)

In [18]:
trans=pd.read_csv("transactions.csv")

In [15]:
trans.dtypes

id_bank_account      int64
date                object
amount             float64
category_l1         object
category_l2         object
dtype: object

In [16]:
trans.shape

(3470566, 5)